<!DOCTYPE html>
<link rel="stylesheet" href="static/styles.css">
<html>
    <head>
        <title>
            PharmBox
        </title>
    </head>
    <body>
       <div id="logoimg">
        <img src="static/logo.png" alt="">
       </div>
        <div id="input-field-container">
    
        <input class = "field" type="text" id = "name_input" onclick="fieldclicked(this)" placeholder="Lütfen TC'nizi giriniz:">
        <input class = "field" type="password" id = "pass_input" onclick="fieldclicked(this)" placeholder="Lütfen E-Devlet şifrenizi giriniz:">
        <button onclick = submit()>Gönder</button>

        <script src="static/accounts.json"></script>
        <script src="static/script.js"></script>

 

        </div>
    </body>
</html>
