<!DOCTYPE html>
<meta charset = "UTF-8">
<link rel="stylesheet" href="static/prescriptions.css">
<body>
<h3 style = "background-color: #7fc097; border-radius: 25px; border: solid 2px black; height: 60px; width: 430px; display: inline-block;
text-align:center; line-height: 60px; ">Reçetenizdeki İlaçlar</h3>
<div class="gap"></div>
<div id="prescription">
    <div id="container">
    <table id = "ptable">
        <th>Hepsini seç</th>
        <th>    </th>
        <th><input style="accent-color: #7fc097;" type="checkbox" title="select-all" id="select-all" > </th>
        <tr class="gap"></tr>
    </div>
    </table>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <img src="static/line.png" style="width: 100%;"alt="">

</div>
</body>










<script src = "static/drugs_prices.json"></script>
<script src = "static/prescriptions.json"></script>
<script src = "static/prescriptions.js"></script>

