#prescription{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    background-color: #7fc097;
    opacity: 0.8;
    border-radius: 10%;
    border: solid 4px black;
    width: 422px;
    height: 490px;
}
button:hover{
    background-color: #013B17;
    color: white;
    border: solid 2px black;

}
#container{
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    margin: 5px;

}
.gap{
    height: 30px;
}
h3{
    margin: 0;
    position : absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}
body{
    font-size: larger;
    font-family: Alegrea;
    font-weight: bold;
    background-image: url("greenpills.png");
    background-size: 100%;

}
input#inp.roundbox{
    border-radius: 25px;
    background-color: blue;
    accent-color: "#7fc097";
}
input checkbox{
    border-radius: 25px;
    accent-color: "#7fc097";
}
#inp{
    border-radius: 25px;
    background-color: blue;
    accent-color: "#7fc097";
}

#paybtn{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-items: center;
    display:block;
    background-color: #357c55;
    font-weight: bold;
    border-radius: 25px;
    -ms-transform: translate(115%, 0);
    transform: translate(115%, 0);
}

#nopresbtn{

    width: 15%;
    font-size: large;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box;
    align-items: center;
    display:block; */
    background-color: #7fc097;
    font-weight: bold;
    border-radius: 25px;
    position: absolute;
    -ms-transform: translate(0%, 0%);
    transform: translate(500%, 1240%);

}

#ptable{
    width: 100%;
    float: inline-start;
}
th{
    text-align: left;
}