@font-face {
    font-family: cred;
    src: url(CRED.ttf);
  }
div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
    
}
td{
    color:white;
}
body{
    background-color: aliceblue;
    font-family:"Alegrea";
    background-image: url(creditcard.png);
    background-size: 100%;
}
#submit
    {
        width: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        align-items: center;
        display:block;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        -ms-transform: translate(1050%, 350%);
        transform: translate(1110%, 410%);
        position: absolute;

      }
#talkbox{
    -ms-transform: translate(-50%, -30%);
    transform: translate(-30%, -1250%);
    width: 300px;
    position: absolute;
    font-family: Abril Fatface;
}

#cardmenu{
    width: 900px;
    height: 100px;
    font-size: 50px;
    left: 500%;
    background-color: transparent;
    appearance: none;
    padding: 10px;
    font-family: cred;
    position: absolute;
    -ms-transform: translate(-65%, 40%);
    transform: translate(-65%, 24%);
    border: none;
}
#home
    {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        align-items: center;
        display:block;
        background-color: lightgray;
      }
#validbox{
    -ms-transform: translate(55%, 1355%);
    transform: translate(790%, 1460%);
    width: 100px;
}
#namebox{
    -ms-transform: translate(190%, 1460%);
    transform: translate(200%, 1590%);
    width: 100px;
}

#surnamebox{
    -ms-transform: translate(450%, 1300%);
    transform: translate(500%, 1430%);
    width:100px
}
#submit:hover{
    color: #1178be;

}