<!DOCTYPE html>
<head>
    <script type = "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    
</head>
<html>
    <meta charset = "UTF-8">
<body>
    <button id="submit" onclick="choose()" style="font-family: DejaVu Serif;">Öde</button>
<div>
    <!-- <h1>Kart Seçiniz</h1> -->
<select id="cardmenu" title = "cardmenu" autofocus>
<!-- <option value="xerwt">wertwe</option>
<option value="yewrtw">23423</option> -->
</select>


<h2 id="talkbox" >Kart Seçiniz</h2>
<!-- <button id="home" onclick="home()">Ana Ekrana Dön</button> -->
</body>
</html>
</div>
<h1 id="validbox">04/27</h1>
<h1 id="namebox">Ali</h1>
<h1 id="surnamebox">Kuşçu</h1>

<link rel="stylesheet" href="static/buy.css">
<script src = "static/cards.json"></script>
<script src = "static/buy.js"></script>