<html>
    <head>
        <script type = "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <link rel="stylesheet" href="static/zrapor.css">
    </head>
    <body>
        <div>
        <button onclick="showAll()">Tüm Raporu Göster</button>
        <table>
            <tr>
              <th>İlaç</th>
              <th>Tc</th>
              <th>Zaman</th>
            </tr>
        </div>
    </body>
</html>

<script src="static/zrapor.js"></script>